
/********** Style Header ********/


#mainContainer {
	height: 100%;
	width: 100%px;
	border: 1px solid black;
	position: relative;
}

#jumbotron {
	width: 600px;
	height: 100px;
	border: 1px solid black;
	margin: 0 auto;
	margin-bottom: -40px;
	padding-top: 100px;

	
	p {
		margin: 0 auto;
		text-align: center;
		font-size: 64px;
	}
}

#tagLine {
	font-size: 20px;
	line-height: 26px;
	color: #6e6e6e;
	font-weight: 300;
	max-width: 450px;
	margin: 0 auto;
	margin-bottom: 55px;
	margin-top: 5px;
	padding-left: 250px;
	padding-right: 10px;
}

/********** Style Articles ********/

#articleContainer {
	margin-top: 100px;
	border: 1px solid black;
	position: relative;
}

#titleDiv {
	border: 1px solid black;
	height: 50px;
	width: 600px;
	margin: 0 auto;
	position: relative;

	p {
	font-size: 30px;
	text-align: left;
	margin: 0 auto;
	}
}

#articleDiv {
	border: 1px solid black;
	height: 400px;
	width: 600px;
	margin: 0 auto;
	text-align: left;

	p {
	-webkit-font-smoothing: antialiased;
	}

}