<!-- There is jquery_ujs preloaded here which allows for HTML5 functionality such as the dropdown 'are you sure you want to delete' menu for our 'destroy' action -->

<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
